<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
		<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome -->     
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
		<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->

		<!-- meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Write Genie, Writing, Publising ,  Self-Publishing , Digitalisation, India, Translation , Malayalam , English, 
			   English-Malayalam, Malayalam-English, Localisation, Language services, Technical Writing, Content Development, Voice Transcription, Resume writing, Web Content, 
				   Multilingual, Document Translation  " />

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //meta tags -->

		<!--fonts-->
		<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
		<!--//fonts-->
		
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script><!-- Required-js -->
		<script src="/js/bootstrap.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- main slider-banner -->
		<script src="/js/skdslider.min.js"></script>
		<link href="/css/skdslider.css" rel="stylesheet">
		<script type="text/javascript">
				jQuery(document).ready(function(){
					jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});

					jQuery('#responsive').change(function(){
					  $('#responsive_wrapper').width(jQuery(this).val());
					});

				});
		</script>	
		<!-- //main slider-banner --> 

		<!-- scriptfor smooth drop down-nav -->
		<script>
		$(document).ready(function(){
		    $(".dropdown").hover(            
			function() {
			    $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
			    $(this).toggleClass('open');        
			},
			function() {
			    $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
			    $(this).toggleClass('open');       
			}
		    );
		});
		</script>
		<!-- //script for smooth drop down-nav -->

	</head>
	<body>
		
			<!-- top-header and slider -->
	<div class="w3-slider">	
	<!-- header -->
	<header>
		<div class="w3layouts-top-strip">
			<div class="container-fluid">
				<div class="w3ls-social-icons">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="agileits-contact-info text-right">
					<ul>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91 99 72 33 11 66</li>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:writegenie@outlook.com">writegenie@outlook.com</a></li>
					</ul>
				</div>
				<div class="logo text-center">
					<h1><a href="index.html">Write Genie</a></h1>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</header>
	<!-- //header -->
	<!-- main-slider -->
		<ul id="demo1">	
			<li><img src="images/5.jpg" alt="" />
				<div class="slide-desc">
					<h3>Need Publishing partner?</h3>
					<p> Utilise our 20+ years of publishing expertise where we understand the specific workflows and operations of every type of publisher</p>
				</div>
			</li>	
		
			<li>
			<img src="images/2.jpg" alt="" />		
			<div class="slide-desc">
					<h3>Have a Ready manuscript?</h3>
					<p>Re-energize your passion.. Turn your ideas into professional-quality books, magazines, or eBooks that readers love to come back to. </p>
			  </div>
			</li>
			
			<li><img src="images/4.jpg" alt="" />
			  <div class="slide-desc">
					<h3>Tired of paperwork?</h3>
					<p>Be it any kind of data or document - right from audio, texts, video, images, business cards, periodicals to books - dititaize and store them. </p>
			  </div>
			</li>
			
			<li><img src="images/1.jpg" alt="" />
			   	<!--Slider Description example-->
			   <div class="slide-desc">
					<h3>Want a Digital branding?</h3>
					<p> Go online and convert your titles and brands into SEO friendly & conversion oriented mobile and Web content. </p>					
			  </div>
			</li>
			
			<li><img src="images/3.jpg" alt="" />
				<div class="slide-desc">
					<h3>Bored of Boring Content?</h3>
					<p> Don't let your business suffer. Rely on us to help you deliver more personalized—and profitable—content over emerging channels.</p>
				</div>
			</li>
			
			
			<!-- <li><img src="images/6.jpg" alt="" />
			  <div class="slide-desc">
					<h3>Slider Title 6</h3>
					<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was I will a complete account. </p>
			  </div>
			</li> -->
		</ul>
	</div>
	<!-- //main-slider -->
	
	<!-- //top-header and slider -->
	<!-- navigation -->
		<nav class="navbar navbar-default navbar-static-top" data-spy="affix" data-offset-top="550">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a class="active" href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#services">Services</a></li>					
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#contact">Contact</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	<!-- //navigation -->
		
	<div class="container">

	{{ content }}

	</div><!-- /.container -->
		
		
	<!-- contact us -->
	<section id="contacts" class="agileits-contactus">
		<div id="contact" class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div>
					<h3 class="w3l-title">Get in touch</h3>
					</div>
					<div class="col-sm-8 w3layouts-agileits">
						<form action="https://formspree.io/writegenie@outlook.com"  method="post" class="my-form">
						  <div class="form-group">
							<input type="text" class="form-control" name="name" id="name" placeholder="Name" required="required">
						  </div>
						  <div class="form-group">
							<input type="email" class="form-control" name="email" id="email" placeholder="Email" required="required">
						  </div>
						  <div class="form-group">
							<textarea class="form-control" name="message" id="message" rows="7" cols="25" style="resize:none;" required="required" placeholder="Message"></textarea>
						  </div>
						  
						  <button type="submit" class="btn btn-default btn-block">SEND MESSAGE</button>
						</form>
					</div>
					
					<div class="col-sm-4 w3layouts-agileits">
						<div class="w3layouts-address">
						<h4>Main Office</h4>
				
						<address>
						  <strong class="bold">Write Genie</strong><br>
						  546/3, Near Cherumukku Temple,<br>
						  Chembukavu, Thrissur<br>
						  <abbr title="Phone">Mobile : </abbr> +91 99470-14938<br>
						   <abbr title="Phone">Phone : </abbr> +91 487-233-2516
						</address>

						<address>
						  <strong class="bold">Email</strong><br>
						  <a class="mail" href="mailto:writegenie@outlook.com">writegenie@outlook.com</a>
						</address>	
						<address>
						  <strong class="bold">We're on social networks</strong><br>
							<div>
							<ul class="agileits-company-social">
								<li class="social-facebook"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
								<li class="social-twitter"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
								<li class="social-dribble"><a href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							</div>
						</address>	
						</div>
					</div>
				</div>				
			</div>
		</div>
	</section>
	<!-- /.contact us -->
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="w3ls-footer-grids">					
				<div class="col-md-4 w3l-footer-grid">
					<h4>Our Services</h4>
					<ul>
						<li>Publishing</li>
						<li>Digitalisation </li>
						<li>Content Management</li>
						<li>SEO Services</li>
					
					</ul>
				</div>
				<div class="col-md-4 w3l-footer-grid">
					<h4>GET IN TOUCH</h4>
					<ul>
						<li>Mob: +91 99470-14938</li>
						<li>Tel: +91 487-233-2516</li>
						<li>Email: <a href="mailto:writegenie@outlook.com">writegenie@outlook.com</a></li>
					</ul>
				</div>
				<div class="col-md-4 w3l-footer-grid">
					<h4>Copy Rights</h4>
					<p>&copy; Write Genie. All Rights Reserved.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- //here ends scrolling icon -->	
		
	<!-- start-section-highlight scrolling -->	
	<script type="text/javascript"> 
		$(document).ready(function(){
			
			/**
			 * This part causes smooth scrolling using scrollto.js
			 * We target all a tags inside the nav, and apply the scrollto.js to it.
			 */
			$("nav a").click(function(evn){
				evn.preventDefault();
				$('html,body').scrollTo(this.hash, this.hash); 
			});
			
			
			
			/**
			 * This part handles the highlighting functionality.
			 * We use the scroll functionality again, some array creation and 
			 * manipulation, class adding and class removing, and conditional testing
			 */
			var aChildren = $("nav li").children(); // find the a children of the list items
			var aArray = []; // create the empty aArray
			for (var i=0; i < aChildren.length; i++) {    
				var aChild = aChildren[i];
				var ahref = $(aChild).attr('href');
				aArray.push(ahref);
			} // this for loop fills the aArray with attribute href values
			
			$(window).scroll(function(){
				var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
				var windowHeight = $(window).height(); // get the height of the window
				var docHeight = $(document).height();
				
				for (var i=0; i < aArray.length; i++) {
					var theID = aArray[i];
					var divPos = $(theID).offset().top; // get the offset of the div from the top of page
					var divHeight = $(theID).height(); // get the height of the div in question
					if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
						$("a[href='" + theID + "']").addClass("active");
					} else {
						$("a[href='" + theID + "']").removeClass("active");
					}
				}
				
				if(windowPos + windowHeight == docHeight) {
					if (!$("nav li:last-child a").hasClass("active")) {
						var navActiveCurrent = $(".active").attr("href");
						$("a[href='" + navActiveCurrent + "']").removeClass("active");
						$("nav li:last-child a").addClass("active");
					}
				}
			});
		});

	</script>	
	<!-- //ends-section-highlight scrolling -->	
		
	</body>
</html>
